<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swarm GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='main.css')}}" />
    <script src="main.js"></script>
</head>
<body>
    <div id="quad-1" class="quad">
        <div class="header">
                <h1>Swarm Data</h1>
        </div>   
        <h3>Number Of Drones: </h3>
    </div>
    <div id="quad-2" class="quad">
        <div class="header">
                <h1>Drones</h1>
        </div>  
        <div></div>
    </div>
    <div id="quad-3" class="full-half">
        <div class="header">
                <h1>Commands</h1>
        </div>  
    </div>        
</body>
</html>