<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
  </head>

  <body>
  <div style="position: relative">
    <div id="map" style="height: 400px"></div>
        <p id="drone_1"><span id="drone_1_lat">Drone1</span> <span id="drone_1_lon">Drone1</span> <span id="drone_1_alt">Drone1</span> <span id="drone_1_mode">Drone1</span></p>
        <p id="drone_2"><span id="drone_2_lat">Drone2</span> <span id="drone_2_lon">Drone2</span> <span id="drone_2_alt">Drone2</span> <span id="drone_2_mode">Drone2</span></p>
        <p id="drone_3"><span id="drone_3_lat">Drone3</span> <span id="drone_3_lon">Drone3</span> <span id="drone_3_alt">Drone3</span> <span id="drone_3_mode">Drone3</span></p>
    <script>
      var map = L.Wrld.map("map", "3ddb2406de839febc1751a10dbe74d3b", {
        center: [47.9228946,-97.0789901],
        zoom: 16
    });

    var LeafIcon = L.Icon.extend({
		options: {
			iconSize:     [38, 95],
			iconAnchor:   [22, 94],
			popupAnchor:  [-3, -76]
		}
	});

    var greenIcon = new LeafIcon({iconUrl: L.Icon.Default.imagePath + 'drone_icon.jpg'})

    elevatedMarker1 = L.marker([47.9228946,-97.0789901], {
        elevation: 260.0,
        title: "Drone 1",
        //icon: greenIcon
    }).bindPopup("Drone #1").addTo(map);

    elevatedMarker2 = L.marker([47.9228946,-97.0789901], {
        elevation: 260.0,
        title: "Drone 2",
        //icon: greenIcon
    }).bindPopup("Drone #2").addTo(map);
    elevatedMarker3 = L.marker([47.9228946,-97.0789901], {
        elevation: 260.0,
        title: "Drone 3",
        //icon: greenIcon
    }).bindPopup("Drone #3").addTo(map);


    /*
		redIcon = new LeafIcon({iconUrl: 'leaf-red.png'}),
		orangeIcon = new LeafIcon({iconUrl: 'leaf-orange.png'});

	L.marker([51.5, -0.09], {icon: greenIcon}).bindPopup("I am a green leaf.").addTo(map);
	L.marker([51.495, -0.083], {icon: redIcon}).bindPopup("I am a red leaf.").addTo(map);
	L.marker([51.49, -0.1], {icon: orangeIcon}).bindPopup("I am an orange leaf.").addTo(map)
	*/


    function select_drone(){
        $.ajax({
            url: "/Swarm"
        })
        .fail(function() {
            alert( "error" );
        }).done(function(result) {

            var Drones = new Array()
            for (i=0; i<result.Drones.length; i++){
               drone = {
               id:result.Drones[i].id,
               lat:result.Drones[i].latitude,
               lon:result.Drones[i].longitude,
               alt:result.Drones[i].altitude,
               mode:result.Drones[i].mode
               }
               Drones.push(drone)
            }

            var updatedMarkerPos = new L.LatLng(Drones[0].lat, Drones[0].lon, Drones[0].alt)
            elevatedMarker1.setLatLng(updatedMarkerPos)

            var updatedMarkerPos = new L.LatLng(Drones[1].lat, Drones[1].lon, Drones[1].alt)
            elevatedMarker2.setLatLng(updatedMarkerPos)

            var updatedMarkerPos = new L.LatLng(Drones[2].lat, Drones[2].lon, Drones[2].alt)
            elevatedMarker3.setLatLng(updatedMarkerPos)

            $("#drone_1_lat").text(''+Drones[0].lat)
            $("#drone_1_lon").text(''+Drones[0].lon)
            $("#drone_1_alt").text(''+Drones[0].alt)
            $("#drone_1_mode").text(''+Drones[0].mode)

            $("#drone_2_lat").text(''+Drones[1].lat)
            $("#drone_2_lon").text(''+Drones[1].lon)
            $("#drone_2_alt").text(''+Drones[1].alt)
            $("#drone_2_mode").text(''+Drones[1].mode)

            $("#drone_3_lat").text(''+Drones[2].lat)
            $("#drone_3_lon").text(''+Drones[2].lon)
            $("#drone_3_alt").text(''+Drones[2].alt)
            $("#drone_3_mode").text(''+Drones[2].mode)

        });

    }
    setTimeout(function(){

      setInterval(function(){
        select_drone();
      }, 1000);
    }, 10000);

    </script>

  </div>
  </body>
</html>