<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
  </head>

  <body>
  <div style="position: relative">
    <div id="map" style="height: 400px"></div>
    <script>
      var map = L.Wrld.map("map", "3ddb2406de839febc1751a10dbe74d3b", {
        center: [-35.363261,149.165230],
        zoom: 16
    });

    var elevatedMarker1 = L.marker([47.9228946,-97.0789901], {
        elevation: 260.0,
        title: "Drone 1"
    }
    var elevatedMarker2 = L.marker([47.9228946,-97.0789901], {
        elevation: 260.0,
        title: "Drone 2"
    }
    var elevatedMarker3 = L.marker([47.9228946,-97.0789901], {
        elevation: 260.0,
        title: "Drone 3"
    }).addTo(map);

    function select_drone(){
        $.ajax({
            url: "/Swarm"
        })
        .fail(function() {
            alert( "error" );
        }).done(function(result) {
            lat1 = result.Drones[0].latitude
            lon1 = result.Drones[0].longitude
            alt1 = result.Drones[0].altitude
            mode1 = result.Drones[0].mode
            var newLatLng1 = new L.LatLng(lat1, lon1);
            elevatedMarker1.setLatLng(newLatLng1)
            elevatedMarker1.elevation(alt1)

            lat2 = result.Drones[1].latitude
            lon2 = result.Drones[1].longitude
            alt2 = result.Drones[1].altitude
            mode2 = result.Drones[1].mode
            var newLatLng2 = new L.LatLng(lat2, lon2);
            elevatedMarker2.setLatLng(newLatLng2)
            elevatedMarker2.elevation(alt2)


            lat3 = result.Drones[2].latitude
            lon3 = result.Drones[2].longitude
            alt3 = result.Drones[2].altitude
            mode3 = result.Drones[2].mode
            var newLatLng3 = new L.LatLng(lat3, lon3);
            elevatedMarker3.setLatLng(newLatLng3)
            elevatedMarker3.elevation(alt3)

        });

    }
    setTimeout(function(){

      setInterval(function(){
        select_drone();
      }, 1000);
    }, 10000);

    </script>

  </div>
  </body>
</html>