<!DOCTYPE html>
<html>

<head>

<title>Ground Observation Station</title>

<meta name= "Author" content="Joseph Schwalb" />
<meta name= "Description" content="For viewing the status of all the units in a piconet of UAS." />

<link rel="stylesheet" href="style.css" type="text/css" />

<a href="/"><img src="DECS_LOGO.png" alt="Logo" align="middle"/></a>

</head>

<body>

    <div id="page">
        <div id="logo">
                <h1><a href="/" id="logoLink">Ground Observation Station</a></h1>
            <div id="nav">
            <ul>
                <li><a href="#/home.html">Home</a></li>
                <li><a href="#/about.html">About</a></li>
                
            </ul>
        </div>
        <div id="Content">
            <h2>Home</h2>
            <p>
                Test webpage for swarm observation.
            </p>

        </div>
        <div id="footer">
            <p>
                Webpage made by <a href="/" target="_blank">Joseph Schwalb</a>
            </p>
        </div>
    </div>
</body>
</html>